{
  "epochs": 200,
  "train_percentage": 0.95,
  
  "gan_switch": {
    "lower_bound": 0.6,
    "upper_bound": 0.8
  },

  "sea_data_loader": {
    "batch_size": 16,
    "shuffle": false,
    "num_workers": 2
  },

  "nyu_data_loader": {
    "batch_size": 16,
    "shuffle": false,
    "num_workers": 2
  },

  "input_image": {
    "channels": 3,
    "width": 640,
    "height": 480
  },

  "output_image": {
    "saving_path": "./saved/images/"
  },

  "output_stats": {
    "saving_path": "./saved/stats/"
  },

  "generator": {
    "learning_rate": 0.003,
    "adam_b1": 0.5,
    "adam_b2": 0.999,
    "betas_d": [0.8, -0.3, -0.3],
    "betas_b": [0.8, -0.3, -0.3],
    "b_c": [-0.06, 0.05, 0.05],
    "saving_path": "./saved/weights/generator/"
  },

  "discriminator": {
    "learning_rate": 0.0000012,
    "adam_b1": 0.5,
    "adam_b2": 0.999,
    "input_channels": 3,
    "saving_path": "./saved/weights/discriminator/"
  },

  "datasets": {
    "in-air": "/media/data/2022_Noya/datasets/nyu_depth_v2_labeled.mat",
    "underwater": "/media/data/2022_Noya/datasets/underwater/",
    "synthetic": "/media/data/2022_Noya/datasets/synthetic/"
  }
}
